/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "footer footer footer footer"
    ;
}

/* Encabezado */
.header {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    color: #fff;
    grid-area: header;
}

.logo-header {
    width: 85px;
    height: auto;
}

.header-titulo {
    margin: 0;
}

.header-nav-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-nav {
    margin-right: 10px;
}

.header-nav a {
    color: #fff;
    text-decoration: none;
}

/* Contenido principal */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-area: main;
}

.imagenentrada {
width: 500px;
height: auto;
display: block;
padding-inline: 50px;
display: flex;
flex-direction: column;
}

/* Estilo del footer */

.footer {
    background-color:rgb(80, 80, 80);
    padding: 20px;
    grid-area: footer;
    
}

.footer-texto {
    color: white;
}

/* Contenido noticias */

.simon {
    width: 350px;
    height: auto;
    padding: 10px;
}

.titulonoticia {
    padding: 10px;
}

.card-text {
    padding: 5px;
}

.nicolas {
    width: 450px;
    height: auto;
    padding: 10px;
}

/* Contenido de partidos */

.titulotabla {
    padding: 8px;
}

.tabla {
    padding: 15px;
}

.proximopartido {
    padding: 8px;
}

/* Contenido plantilla */

.titulopl {
    padding: 5px;
}

.plantilla {
    padding: 10px;
    width: 500px;
    height: auto;
}

.titulopl2 {
    padding: 5px;
    color: red;
}

.plantilla2 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-columns: auto;
    
}

/* Contenido Acerca del club */

.monumental {
    padding: 15px;
}

.mapa {
    padding: 15px;
}

.card {
    padding: 0px;
    margin: 10px;
    width: 600px;
    height: 600px;
}

.col {
    padding: 0px;
}

.inicio {
    padding: 15px;
}

@media (min-width: 320px) and (max-width: 576px){
    body{
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
}
